In [29]:
#Question 1
#print all element in a list using for loop

cars = ['Honda','Toyota','Benz', 'Nissan','Ferarri']
for y in cars:
    print(y)

Honda
Toyota
Benz
Nissan
Ferarri

In [32]:
#Question 2
#Using range (1,101), make two list, one containing all even numbers and other containing all odd numbers.

odd_numbers =[]
even_numbers =[]
for x in range(1,101):
    if x%2 == 0:
        odd_numbers.append(x)
    else:
        even_numbers.append(x)
print(odd_numbers)
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [ ]:
#question 3
#A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their 
salary and year of service and print the net bonus amount.

benchmark = 5
def incentive(salary, serviceYear):
    if serviceYear > benchmark:
        bonus = 0.05*salary
        print (bonus)
        return  bonus
    else:
        print('no bonus')

In [8]:
salary = input('How much do you earn')
yearsOfService = input('How long have you served')

incentive(int(salary),int(yearsOfService))

How much do you earn1000
How long have you served8
50.0

50.0

In [36]:
#Question 4
age1 = (input('How old are you'))
age2 = (input('How old are you'))
age3 = (input('How old are you'))
maxage = max(age1, age2, age3)
miniage = min(age1, age2, age3)
print('youngest age is:', miniage)
print('oldest age is:', maxage)

How old are you45
How old are you16
How old are you78
youngest age is: 16
oldest age is: 78

In [24]:
#question 5
def Grade(mark):
    if mark < 25:
        print('F')
    elif mark >25 and mark <=45:
        print('E')
    elif mark >45 and mark <=50:
        print('D')
    elif mark >50 and mark <=60:
        print('C')
    elif mark >60 and mark <=80:
            print('B')
    else:
        print('A')

In [25]:
mark = input('what was your mark')

Grade(int(mark))

what was your mark80
B

In [37]:
#Question 6
#write a python script to merge two python dictionaries

cars = {'Honda' : 'red', 'Toyota' : 'blue', 'Benz' : 'black'}
schools = {'OAU' : 'federal', 'OOU' : 'state', 'BOWEN' : 'private'}

total = cars.copy()
total.update(schools)

print(total)

{'Honda': 'red', 'Toyota': 'blue', 'Benz': 'black', 'OAU': 'federal', 'OOU': 'state', 'BOWEN': 'private'}

In [40]:
#Question 7
#write a python program to remove a key from a dictionary'

industries= {'Nigeria' : 'Nollywood', 'America' : 'Hollywood', 'India' : 'Bollywood'}
industries.pop('Nigeria')
print(industries)

{'America': 'Hollywood', 'India': 'Bollywood'}

In [15]:
list1 = [10, 20, 30, 40, 50, 60, 100]
print('largest number is:', max(list1))

largest number is: 100